<template>
  <div class="login-container">
    <div class="title-container">
      <span>手机戳点登录</span>
    </div>
    <div class="login-container-input">
      <van-form @submit="loginUser">
        <van-field
          v-model="username"
          name="username"
          label="用户名"
          placeholder="用户名"
          :rules="[{ required: false, message: '请填写用户名' }]"
        />
        <van-field
          v-model="password"
          type="password"
          name="pwd"
          label="密码"
          placeholder="密码"
          :rules="[{ required: false, message: '请填写密码' }]"
        />
        <div style="margin: 16px;">
          <van-button round block type="info" native-type="submit">提交</van-button>
        </div>
      </van-form>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return { username: "", password: "" };
  },
  methods: {
    loginUser(values) {
      values;
      console.log(values);
      this.$router.push("/homepage");
      // this.loginUser(values);
    },
    ...mapActions(["loginUser"]),
    ...mapMutations([])
  },

  mounted() {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang='less'>
@import "~@/assets/less/chuodian/login.less";
</style>
