<template>
  <div class="map-container">
    <div class="position-display-container">
      <span>{{ lnglat }}</span>
    </div>
    <van-action-sheet
      @scroll="handleActionScroll"
      v-model="sheetVisible"
      :actions="areaList"
      cancel-text="取消"
      close-on-click-action
      @cancel="onCancel"
      @select="handleSelectArea"
    />
    <div class="search-container">
      <input type="text" class="search-container--input" v-model="searchText" />
      <van-button
        type="info"
        style="width: 20%; height: 100%; font-size: 0.15rem"
        @click="handleSearchArea"
      >
        搜 索
      </van-button>
    </div>
    <div class="current-area">
      <span v-if="areaName">当前位置:{{ areaName }}</span>
      <span v-else>尚未选择小区</span>
    </div>
    <div class="snapshot-container">
      <van-button type="info" @click="takePhotos">开始拍照</van-button>
    </div>
    <div id="real-map-container"></div>
    <!-- <div class="popup-container" v-if="imgPopupVisible">
      <div class="popup-container-inner" @scroll="handleScrollEvent">
        <div v-if="showTakePhotoVisible">
          <van-loading />
          <p style="font-size: 18px">正在加载请稍后....</p>
        </div>
     
        <div
          class="img-container"
          @click="handleSetActive(i)"
          v-for="i in imgList"
          :key="i.id"
        >
          <img :src="imgPrefix + i.url" :alt="'id：' + i.id" />
          <div class="img-container--mask" v-if="i.active">
            <img
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/mobile-point/duigou.png"
              alt
            />
          </div>
        </div>
      </div>
      <div class="confirm-btn">
        <van-button
          type="default"
          style="width: 25%; font-size: 0.15rem"
          @click="prePage"
        >
          上一页
        </van-button>
        <van-button
          type="info"
          style="width:25%; font-size: 0.15rem"
          @click="nextPage"
        >
          下一页
        </van-button>
        <van-button
          type="default"
          style="width:25%; font-size: 0.15rem"
          @click="cancelBtnClick"
        >
          取 消
        </van-button>
        <van-button
          type="info"
          style="width:25%; font-size: 0.15rem"
          @click="confirmBtnClick"
        >
          确 定
        </van-button>
      </div>
    </div> -->
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
import { Loading, Notify, Field } from "vant";
import Vue from "vue";
Vue.use(Field);
Vue.use(Loading);
export default {
  data() {
    return {
      cameraAddress: "", //摄像头的地址
      showTakePhotoVisible: false,
      show: true,
      actions: [{ name: "选项一" }, { name: "选项二" }, { name: "选项三" }],
      searchText: "",
      popupVisible: false,
      scrollCount: 1,
      districtID: Vue.ls.get("districtID"),
      // areaName: ""
      currentAreaName: Vue.ls.get("areaName"),
    };
  },
  methods: {
    prePage: function() {
      let pageNo =
        this.takePhotoParams.pageNo - 1 < 1
          ? 1
          : this.takePhotoParams.pageNo - 1;
      console.log(pageNo);
      let d = {
        pageNo,
        pageSize: 8,
        id: this.districtID,
      };
      this.takePhoto(d);
    },
    nextPage: function() {
      let pageNo =
        this.takePhotoParams.pageNo + 1 > this.takePhotoParams.pageCount
          ? this.takePhotoParams.pageCount
          : this.takePhotoParams.pageNo + 1;
      console.log(pageNo);
      let d = {
        pageNo,
        pageSize: 8,
        id: this.districtID,
      };
      this.takePhoto(d);
    },
    handleSetActive: function(i) {
      this.SET_ACTIVE_PIC(i);
    },
    handleActionScroll: function() {},
    onCancel: function() {
      this.HIDE_ACTION_SHEET();
    },
    handleSelectArea: function(...arg) {
      let [{ geom, id, name, polygon}] = [...arg];
      // console.log(name);
      if(geom!==null && geom!==[] && geom!==undefined &&geom.length>0){
        console.log(geom)
        this.$store.commit("SET_MAP_CENTER", geom[0]);
        this.$store.commit("SET_CURRENT_LNGLAT", geom[0]);
      }
     if(polygon!==null && polygon!==[] && polygon!==undefined&& polygon.length>0){
       console.log(polygon)
       this.$store.commit("SET_MAP_CENTER", polygon[0]);
       this.$store.commit("SET_CURRENT_LNGLAT", polygon[0]);
     }
    //  if(!polygon&&!geom){
    //    alert("该小区没有划定范围");
    //     return;
    //  }
      this.districtID = id;

      // this.currentAreaName = name;
      this.areaName = name;
      Vue.ls.set("areaName", name);
      Vue.ls.set("districtID", id);
      // this.districtID = 266;
      this.HIDE_ACTION_SHEET();
    },
    handleSearchArea: function() {
      let d = {
        name: this.searchText,
        pageSize: 500,
      };
      this.searchArea(d);
    },
    cancelBtnClick: function() {
      this.hidePopup();
      this.$store.commit("CLEAR_IMG_LIST");
    },
    confirmBtnClick: function() {
      if (this.currentActiveImgItem) {
        let p = {
          id: this.currentActiveImgItem.id,
          direction: [
            {
              lng: this.lng,
              lat: this.lat,
            },
            {
              lng: this.lng,
              lat: this.lat,
            },
          ],
        };
        this.submitLocation(p);
        this.hidePopup();
      } else {
        Notify("请选择图片后进行提交操作");
      }
    },
    hidePopup: function() {
      this.scrollCount = 1;
      this.HIDE_IMG_PHOTO_LIST();
    },
    showPopup: function() {
      this.$store.commit("SHOW_IMG_PHOTO_LIST");
      this.showTakePhotoVisible = true;
      this.popupVisible = true;
    },
    handleScrollEvent: function() {
      // this.scrollCount += 1;
      // let d = {
      //   id: this.districtID,
      //   pageNo: this.scrollCount,
      //   pageSize: 800,
      // };
      // d;
      // this.takePhoto(d);
    },
    takePhotos: function() {
      console.log(this.lnglat)
      if (this.lnglat.indexOf('undefined') ) {
        this;
      } else {
        Notify("初始坐标为空,请拖动起始点坐标");
        return;
      }
      if (this.districtID) {
        
        let d = {
          id: this.districtID,
          // pageNo: 1,
          // pageSize: 8,
        };
        this.takePhoto(d);
        // this.showPopup();
        this.$router.push('/tasklist')
        this.$store.commit('CHANGE_ACTIVE','/tasklist')
      } else {
        Notify("请选择区域");
      }
    },
    ...mapActions(["searchArea", "takePhoto", "submitLocation"]),
    ...mapMutations([
      "HIDE_ACTION_SHEET",
      "SHOW_ACTION_SHEET",
      "SET_ACTIVE_PIC",
      "HIDE_IMG_PHOTO_LIST",
    ]),
  },

  mounted() {
    this.$store.commit("INIT_MAP", "");
  },
  watch: {
    imgList: function(val) {
      if (val.length > 0) {
        this.showTakePhotoVisible = false;
      }
    },
  },
  computed: {
    areaName: {
      get: function() {
        return this.currentAreaName;
      },
      set: function(val) {
        this.currentAreaName = val;
      },
    },
    imgPrefix: () => {
      return process.env.VUE_APP_IMG_URL;
    },
    sheetVisible: {
      get() {
        return this.actionSheetVisible;
      },
      set() {},
    },
    lng: function() {
      return this.lnglat.split(",")[0];
    },
    lat: function() {
      return this.lnglat.split(",")[1];
    },
    endLng: function() {
      return this.currentEndLngLat.split(",")[0];
    },
    endLat: function() {
      return this.currentEndLngLat.split(",")[1];
    },
    ...mapState({
      lnglat: (state) => state.tools.currentLngLat,
      currentEndLngLat: (state) => state.tools.currentEndLngLat,
      areaList: (state) => state.logic.areaList,
      imgPopupVisible: (state) => state.logic.imgPopupVisible,
      takePhotoParams: (state) => state.logic.takePhotoParams,
      imgList: (state) => state.logic.imgList,
      currentActiveImgItem: (state) => state.logic.currentActiveImgItem,
      actionSheetVisible: (state) => state.logic.actionSheetVisible,
    }),
    ...mapGetters([]),
  },
  components: { [Notify.Component.name]: Notify.Component },
};
</script>

<style lang="less">
@import "~@/assets/less/chuodian/map.less";
.amap-logo {
  display: none !important//去掉高德地图logo;
}
.amap-copyright {
  opacity: 0 !important//去掉高德的版本号;
}
.van-image{
  width: 0.5rem;
  height: 0.5rem;
}
</style>
