<template>
  <div class="picture-container">
    <van-overlay :show="show" @click="show = false">
      <div class="wrapper">
        <div class="img-inner-popup">
          <img
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/jiebangcun-mini-program/minsu-05-25.png"
            alt
          />
        </div>
      </div>
    </van-overlay>
    <div class="img-item" @click="showImgPop" v-for="i in 30" :key="i.id">
      <img
        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/jiebangcun-mini-program/minsu-05-25.png"
        alt
      />
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return { show: false };
  },
  methods: {
    showImgPop: function() {
      this.show = !this.show;
    },
    ...mapMutations([])
  },

  mounted() {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang='less'>
@import "~@/assets/less/chuodian/pictures.less";
</style>
