<template>
  <div class="picture-list-container">
    <van-checkbox v-model="checked">复选框</van-checkbox>

    <div class="picture-item" v-for="i in 10" :key="i.id"></div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return { checked: false };
  },
  methods: { ...mapMutations([]) },

  mounted() {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang='less'>
@import "~@/assets/less/chuodian/pictureList.less";
</style>
