<template>
  <div class='homepage'>
    <van-search
      v-model="value"
      placeholder="请输入搜索关键词"
      input-align="center"
    />
    <!-- -->
    <div class="taskTab" v-for="item in districtJobList" :key="item.id">
      <!-- <van-swipe-cell :stop-propagation='false'> -->
        <!-- <van-cell :value="item.count== 0 ?'已完成':'未完成'" size="large" :label="`未完成个数：${item.count}`" class="taskTabItem">

          <template #title>
            <span @click="showPopup(item)">{{item.name}}</span>
          </template>
        </van-cell> -->
        <div class="taskTabItem">
          <van-cell :value="item.count== 0 ?'已完成':'未完成'" size="large" :label="`未完成个数：${item.count}`">
            <template #title>
              <span @click="showPopup(item)">{{item.name}}</span>
            </template>
          </van-cell>
          <van-cell  title="" size="large" label="">
            <template #right-icon>
              <van-icon name="delete-o" @click="cancelBtn(item)" size='20px'/>
            </template>
          </van-cell>
        </div>
        
        <!-- <template #right>
          <van-button square text="删除" @click="delJobs(item)" type="danger" class="delete-button" />
        </template> -->
      <!-- </van-swipe-cell> -->
    </div>
    <van-popup v-model="show" @click-close-icon='closePopUp' position="bottom" closeable close-icon="close" :style="{ height: '100%' }">
      <van-grid :border="true" style="margin-top:50px;height:calc( 100% - 100px );overflow:scroll;" :column-num="2">
        <van-grid-item style="position:relative"  v-for="(value,index) in wsdataList" :key="value.id">
            <van-image v-if="!value.loading" style="width:100%;height:auto" :src="imgPrefix + value.url" />
            <van-loading v-else type="spinner" size="0.3rem" />
            <van-checkbox style="position:absolute;top:0;left:0" :value="!Boolean(value.status)" @click='clickCheckbox(value,index)'></van-checkbox>
            <div class="handleBtn" @click="rePhoto(value,index)">重拍</div> 
        </van-grid-item>
      </van-grid>
      <div style="height:50px;font-size:20px;text-align:center"><van-button type="info" size="small" @click="submitBtn" style="margin-top:10px">确认</van-button></div>
    </van-popup>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
import { WSconnect } from "@/utils/websocket";
import Vue from 'vue';
// import Vue from 'vue'
export default {
  data() {
    return {
      value:'',
      show:false,
      currentActiveItem:{}
    }
  },
  props:[],
  methods:{ ...mapMutations([]),
    showPopup(item){
      this.$store.commit('SET_CURRENT_ID',item.districtId)
      this.$store.commit('CLEAR_WS_DATA')
      WSconnect(item.districtId,'')
      this.show = true;
    },
    rePhoto(item,index){
      index;
      this.$store.commit('CHECK_LOADING',index)
      // this.$notify({ type: 'primary', message: '重拍成功' });
      this.$store.dispatch('singlePhotographV2',{districtId:item.districtId,camId:item.id})
      // setTimeout(() => {
      //   let params = {
      //       type: 'accept',
      //       districtId: Vue.ls.get('districtID')
      //   }
      //    Vue.prototype.globalSocket.send(JSON.stringify(params))
      // }, 500);
      
    },
    clickCheckbox(item,index){
      this.currentActiveItem = item
      this.$store.commit('CHECK_ACTIVE',index)
    },
    closePopUp(){
      this.$store.dispatch('districtJobs')
    },
    submitBtn(){
      // console.log(this.lnglat)
      // console.log(this.currentLngLat)
      // console.log(this.lng,this.lat)
      if (this.currentActiveItem) {
        let p = {
          districtId:this.currentActiveItem.districtId,
          id: this.currentActiveItem.id,
          direction: [
            {
              lng: this.lng,
              lat: this.lat,
            },
            {
              lng: this.lng,
              lat: this.lat,
            },
          ],
        };
        this.$store.dispatch('submitLocation',p);
      } else {
        this.$notify("请选择图片后进行提交操作");
      }
    },
    delJobs(data){
      this.$store.dispatch('deldistrictJobs',{id:data.districtId})
    },
    cancelBtn(item){
     this.$dialog.confirm({
          title: '提示',
          message: '请确认是否删除此任务',
        })
        .then(() => {
          // on confirm
          this.delJobs(item)
        })
        .catch(() => {
          // on cancel
      });
    }
  },

  created(){
    
  },
  mounted(){
    setTimeout(() => {
      this.$store.dispatch('districtJobs')
      WSconnect('1','jobs')
    }, 200);
    
  },
  watch:{},
  computed:{ 
  imgPrefix: () => {
    return process.env.VUE_APP_IMG_URL;
  },  
  lng: function() {
    return this.lnglat.split(",")[0];
  },
  lat: function() {
    return this.lnglat.split(",")[1];
  },
  endLng: function() {
    return this.currentLngLat.split(",")[0];
  },
  endLat: function() {
    return this.currentLngLat.split(",")[1];
  },
  ...mapState({
    districtJobList:state=>state.logic.districtJobList,
    wsdataList:state=>state.tools.wsdataList,
    loadingstatus:state=>state.tools.loadingstatus,
    lnglat: (state) => state.tools.currentLngLat,
    currentLngLat: (state) => state.tools.currentLngLat,
  }),
  ...mapGetters([])

  },
  components: {

  },
  destroyed(){
    
    Vue.prototype.globalSocket.close(1000,'zhudong')
    Vue.prototype.globalSocket = null
  }
}
</script>

<style lang='less' scoped>
.homepage{
  width: 100%;
  height: 100%;
  .taskTab{
    padding: 0 10px;
    box-sizing: border-box;
    margin-top: 15px;
    
    cursor: pointer;
    .taskTabItem{
      border: 1px solid #f3f3f3;
      border-radius: 5px;
      box-shadow:0px 12px 8px -12px #ccc;
    }
  }
  .taskTab:last-child{
    margin-bottom: 120px;
  }
}
.handleBtn{
  width: 100%;
  height: 0.3rem;
  background: rgba(0, 0, 0, 0.2);
  font-size: .15rem;
  color: black;
  text-align: center;
  line-height: .3rem;
}
</style>
<style lang='less'>
.delete-button{
  height: 100%;
}
.van-swipe-cell__right {
  display: inline-block;
  width: 60px;
  height: 100%;
  font-size: 15px;
  line-height: 44px;
  color: #fff;
  text-align: center;
  background-color: #f44;
}
</style>
