<template>
  <div class='userInfo'>
      <div class='userInfoHeader'>
        <van-row style="height:100%">
            <van-col span="16" style="height:100%;">
                <div class="userName">猎小熊</div>
                <div class="usertext">用户编号</div>
            </van-col>
            <van-col span="8" class="faceImg" style="height:100%;">
                <van-image
                    round
                    fit='cover'
                    width=".8rem"
                    height=".8rem"
                    src="https://img01.yzcdn.cn/vant/cat.jpeg"
                />
            </van-col>
        </van-row>
      </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {

    }
  },
  props:[],
  methods:{ ...mapMutations([])},

  created(){},
  mounted(){},
  watch:{},
  computed:{ ...mapState({}),

  ...mapGetters([])

  },
  components: {

  }
}
</script>

<style lang='less' scoped>
.userInfo{
    width: 100%;
    height: 100%;
    .userInfoHeader{
        height: 30%;
        background: chocolate;
    }
}
.faceImg{
    margin-top: .3rem;
}
.userName{
    margin-top: .5rem;
    padding-left: .5rem;
    font-size: .2rem;
}
.usertext{
    margin-top: .1rem;
    padding-left: .5rem;
    font-size: .15rem;
}
</style>
