.map-container {
  position: relative;
  height: 100%;
  width: 100%;

  .current-area {
    position: absolute;
    font-size: 0.18rem;
    font-weight: bold;
    text-align: center;
    z-index: 101;
    top: 0.65rem;
    width: 80%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: blue;
  }

  .search-container {
    width: 90%;
    height: 0.4rem;
    position: absolute;
    top: 0.2rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 101;
    font-size: 0.14rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .search-container--input {
      height: 100%;
      width: 75%;
      border: 1px solid #eeeeee;
    }
  }

  .snapshot-container {
    text-align: center;
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
  }

  .position-display-container {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    font-size: 0.14rem;
  }

  #real-map-container {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .popup-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 105;

    .popup-container-inner {
      height: 90%;
      width: 95%;
      background-color: white;
      border-radius: 0.1rem;
      position: absolute;
      left: 0;
      top: 0.1rem;
      right: 0;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      overflow: scroll;
      max-height: 88%;

      .img-container {
        img {
          height: 100%;
          width: 100%;
        }

        .img-container--mask {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          z-index: 101;
          height: 100%;
          width: 100%;

          img {
            height: 100%;
            width: 100%;
          }
        }

        font-size: 0.14rem;
        height: 1.3rem;
        width: 45%;
        background-color: grey;
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
        position: relative;

        .check-box {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }

    .confirm-btn {
      width: 90%;
      text-align: center;
      position: absolute;
      z-index: 106;
      bottom: 0.1rem;
      margin: 0 auto;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
