.picture-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;

    .img-item {
        width: 40%;
        height: 1rem;
        margin-top: 0.2rem;
        background-color: red;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .wrapper {
        height: 100%;
        width: 100%;
        position: relative;

        .img-inner-popup {
            height: 80%;
            width: 90%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}