.picture-list-container {
    .picture-item {
        height: 1rem;
        width: 90%;
        margin: 0.2rem auto;
        box-shadow: 5px 5px 5px #eeeeee;
        border-top: 1px solid #eeeeee;
        border-left: 1px solid #eeeeee;
    }
}