<template>
  <div id="app">
    <router-view />
    <van-tabbar v-if="$route.path !== '/'" :value="active" @change="checkTab">
      <van-tabbar-item name="/map" icon="home-o">首页</van-tabbar-item>
      <van-tabbar-item name="/tasklist" icon="todo-list-o">
        任务列表
      </van-tabbar-item>
      <van-tabbar-item name="/user" icon="friends-o">个人中心</van-tabbar-item>
    </van-tabbar>
  </div>
</template>
<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      // active: '/map',
    };
  },
  methods: {
    checkTab(item) {
      this.$router.push(item);
      this.$store.commit("CHANGE_ACTIVE", item);
    },
  },
  mounted() {
    // this.active = ''
    // console.log(this.$route.path)
    setTimeout(() => {
      this.$store.commit("CHANGE_ACTIVE", this.$route.path);
    }, 200);
  },
  watch:{
    $route(val){
      this.$store.commit('CHANGE_ACTIVE',val.path)
    }
  },
  computed: {
    ...mapState({
      active: (state) => state.tools.active,
    }),
  },
};
</script>
<style lang="less" scoped>
#app {
  height: 100%;
  width: 100%;
}
</style>
